html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,dfn,em,img,kbd,q,small,strong,sub,sup,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,nav,output,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;scroll-behavior:smooth;}html{box-sizing:border-box;}*,*:before,*:after{box-sizing:inherit;}/*HTML5 display-role reset for older browsers*/ article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block} ol, ul {/*Reset lists*/ list-style:none;}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0;}/*Hide scrollbar on mobile*/@media screen and (max-width:1024px){*{overflow-y: none;}}a:hover{/*Change mouse on clickable links*/cursor:pointer;}img{max-width:100%;height:auto;}

body {
    overflow-x: hidden; 
    overflow-y: scroll; 
    min-height: 100vh; 
    max-width: 100%; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased;
    background: #EDEDED;
    color: #171A1C;
    font-family:'Roboto', sans-serif;
    font-size: 14px; 
}

a {text-decoration: none; /* Change color of Hyperlinks*/ color: inherit;}
a:hover {color: inherit;}

nav {
    background: #0C0C0C;
    color: #fff;
    padding: 10px 0 11px 0;
}

nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

nav ul {
    display: inline-flex;
}

nav li:first-child {
    padding-left: 20px;
}

nav li {
    padding-right: 30px;
}

nav .dropdown-item {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    width: 120px;
    margin-bottom: 15px;
}

nav .dropdown-item:hover {
    background: #0C0C0C;
    color: #fff;
}

nav .dropdown-menu {
    background: #0C0C0C;
    margin-left: -50px!important;
    margin-top: 25px!important;
}

.dropdown-lifter {
    background: #171A1C;
    width: 100%;
    height: 250px;
    padding-top: 20px;
    line-height: 17px;
    text-align: justify;
    position: relative;
    display: none;
}

.dropdown-inline {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #FFD400;
    font-size: 20px;
    max-width: 300px;
}

.dropdown-inline img {
    margin-right: 22px;
}

.see-more {
    position: absolute;
    color: #FFD400;
    bottom: 0;
    margin-bottom: 5px;
}

nav input[type="text"] {
    background: #EDEDED;
    color: #7A7A7A;
    border: none;
    border-radius: 40px;
    height: 40px;
    width: 218px;
    padding-left: 16px;
    position: relative;
}

nav button {
    background: #FFD400;
    border: none;
    border-radius: 40px;
    margin-top: 4px;
    margin-left: -52px;
    width: 48px;
    height: 32px;
    position: absolute;
}

nav button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    margin-top: 100px;
    min-height: 100%;
}

.carousel-item {
    position: relative;
    z-index: -1;
}

.carousel-bg {
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #171a1ce1 62.89%, rgba(23, 26, 28, 0) 96.88%);
    bottom: 0;
}

.carousel-bg .container {
    margin-left: 200px;
    margin-top: 20px;
}

.carousel-text {
    font-size: 90px;
    font-weight: 700;
    line-height: 110%;
    color: #FFF;
    max-width: 590px;
}

.carousel-text-1 {
    font-size: 80px;
}

.carousel-w-logo {
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
    color: #FFF;
    max-width: 580px;
    margin-top: 32px;
}

.carousel-bg button {
    background: #FFD400;
    width: 192px;
    height: 56px;
    border: none;
    font-size: 20px;
    color: #171A1C;
    font-weight: 900;
    text-align: center;
    border-radius: 56px;
    margin-top: 45px;
}

.carousel-indicators li{
    background-color: #EDEDED; 
}

.carousel-indicators .active{
    background-color: #FFD400;
}

.carousel-control-prev-icon {
    background-image: url("./assets/icons/movparts-arrow-left.webp");
    background-position: center;
    background-color: #FFF;
    backdrop-filter: opacity(.2);
    border-radius: 50%;
}

.carousel-control-next-icon {
    background-image: url("./assets/icons/movparts-arrow-right.webp");
    background-color: #FFF;
    backdrop-filter: opacity(.2);
    border-radius: 50%;
}

.visually-hidden {
    background-color: #fff;
}

.about-us {
    padding-top: 76px;
    padding-bottom: 112px;
}

.about-us .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    display: inline-flex;
    align-items: center;
}

.about-us h2 {
    font-size: 40px;
    margin-left: 14px;
}

.about-us p {
    max-width: 720px;
    font-size: 18px;
    text-align: center;
    line-height: 140%;
    padding-bottom: 39px;
}

.cards-about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding-bottom: 39px;
    border: 1px solid #DEE6F1;
    width: 370px;
    height: 206px;
}

.about-us .row {
    flex-wrap: nowrap;
}

.cards-about img {
    margin-top: 33px;
}


.about-cards-header {
    background: #171A1C;
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-cards-header p {
    max-width: 263px;
    color: #FFD400;
    font-size: 20px;
    position: absolute;
    top: 14px;
}

.services {
    display: flex;
    background-image: url(./assets/images/movparts-deposit.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 81px;
    padding-bottom: 108px;
    border: 1px solid #0C0C0C;
}

.services h2 {
    font-size: 40px;
    text-align: center;
}

.services .col div {
    background: #7A7A7A;
    position: relative;   
}

.services figure {   
    border: 3px solid #7A7A7A;
    margin-top: 53px;  
}

.services hgroup {
    color: #fff;
    font-size: 36px;
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translate(-50%, 0%);    
    text-align: center;
}

.services p {
    width: 278px;
    font-size: 20px;
    margin-top: 16px;
}

.blog {
    padding-top: 85px;
    padding-bottom: 97px;
    border: 1px solid #0C0C0C;
}

.blog h2 {
    font-size: 40px;
    margin-bottom: 45px;
}

.blog-cards {
    background: #fff;
    border: 1px solid #171A1C;
}

.blog-cards hgroup {
    margin-left: 22px;
}

.blog hgroup p:first-child {
    color: #0C0C0C;
    font-weight: bold;
    margin-top: 21px;
}

.blog hgroup h4 {
    color: #FFD400;
    font-size: 24px;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 13px;
}

.blog hgroup p:last-child {
    max-width: 309px;
    color: #7A7A7A;
}

.read-more {
    margin-top: 31px;
    margin-bottom: 50px;
    margin-left: 22px;
}

.blog-button {
    text-align: center;
}

.blog button {
    font-size: 20px;
    font-weight: bold;
    background: inherit;
    border: 2px solid #FFD400;
    border-radius: 56px;
    width: 194px;
    height: 56px;
    margin-top: 63px;
}

.blog button:hover {
    background: #FFD400;
    }

.form {
    padding-bottom: 50px;
    padding-top: 50px;
}

.form-bg {
    background: #EDEDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
    width: 970px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-bg hgroup h2 {
    font-size: 40px;
    width: 770px;
    margin-top: 56px;
    margin-bottom: 26px;
}

.form-bg hgroup p {
    font-size: 18px;
    margin-bottom: 21px;
}

.form-bg li {
    margin-bottom: 10px;
    text-align: center;
}

.form-bg input[type="text"], .form-bg input[type="email"],.form-bg input[type="tel"], .form-bg textarea {
    background: #EDEDED;
    color: #7A7A7A;
    border: none;
    border-radius: 5px;
    height: 56px;
    width: 770px;
}

#city {
    margin-right: 30px;
}

.form-bg textarea {
    height: 168px;
    text-align: start;
}

.form-bg select {
    background: #EDEDED;
    color: #7A7A7A;
    border-radius: 5px;
    border: none;
    height: 56px;
    width: 370px;
}

.form-bg input::file-selector-button {
    background: #7A7A7A;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    width: 200px;
    height: 45px;
    margin-right: 24px;
    border:none;
    cursor: pointer;
}

#file {
    width: 770px;
}

.form-bg input[type="submit"] {
    width: 770px;
}

.terms {
    width: 770px;
    text-align: justify;
    margin-top: 35px;
    margin-bottom: 35px;
}

.form-bg input[type="submit"] {
    background: #FFD400;
    border: none;
    color: #171A1C;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    border-radius: 56px;
    width: 246px;
    height: 56px;
}

footer {
    background: #171A1C;
    color: #fff;
    padding-top: 45px;
}

.row {
    align-items: center;
}

footer p {
    max-width: 183px;
    line-height: 25px;
    margin-bottom: 21px;
}

footer li {
    line-height: 25px;
}

.inline-flex {
    display: inline-flex;
    align-items: flex-start; 
}
.inline-flex p {
    margin-left: 11px;
}

.social-media {
    margin-right: 12px;
}

.footer-end {
    background: #171A1C;
    padding-bottom: 27px;
}